In [1]:
import pandas as pd

df1: pd.DataFrame = pd.read_excel("workshop_1_attendance.xlsx").sort_values("Date")
df2: pd.DataFrame = pd.read_excel("workshop_2_attendance.xlsx").sort_values("Date")

# Ques1

In [7]:
merged_df = pd.merge(
    df1.drop_duplicates(subset="Name"),
    df2.drop_duplicates(subset="Name"),
    on="Name",                                      
    suffixes=("_df1", "_df2"),
    how="inner"
)
merged_df

    Name   Date_df1  Duration (minutes)_df1   Date_df2  Duration (minutes)_df2
0  Alice 2024-10-01                      50 2024-11-01                      40
1    Bob 2024-10-02                      40 2024-11-01                      40
2    Eve 2024-10-02                      50 2024-11-01                      30
3  Diana 2024-10-02                      50 2024-11-02                      50

# Ques2

In [2]:
merged_df = pd.merge(
    df1.drop_duplicates(subset="Name"),
    df2.drop_duplicates(subset="Name"),
    on="Name",                                      
    suffixes=("_df1", "_df2"),
    indicator=True,
    how="outer",
)
print(merged_df)
merged_df[merged_df["_merge"] != "both"]

      Name   Date_df1  Duration (minutes)_df1   Date_df2  \
0    Alice 2024-10-01                    50.0 2024-11-01
1      Bob 2024-10-02                    40.0 2024-11-01
2  Charlie        NaT                     NaN 2024-11-05
3    Diana 2024-10-02                    50.0 2024-11-02
4      Eve 2024-10-02                    50.0 2024-11-01

   Duration (minutes)_df2      _merge
0                      40        both
1                      40        both
2                      40  right_only
3                      50        both
4                      30        both

,Name,Date_df1,Duration (minutes)_df1,Date_df2,Duration (minutes)_df2,_merge
2,Charlie,NaT,NaN,2024-11-05,40,right_only

# Ques3

In [3]:
merged_df = pd.concat([df1,df2],axis=0,ignore_index=True)
len(merged_df)

30

# Ques4

In [4]:
merged_df = pd.concat([df1,df2],axis=0,ignore_index=True)
merged_df.set_index(["Name","Date"],inplace=True)

stats = merged_df.groupby(["Name","Date"]).describe()
stats

                   Duration (minutes)                                          \
                                count       mean        std   min   25%   50%
Name    Date
Alice   2024-10-01                2.0  45.000000   7.071068  40.0  42.5  45.0
        2024-10-02                1.0  40.000000        NaN  40.0  40.0  40.0
        2024-10-04                1.0  40.000000        NaN  40.0  40.0  40.0
        2024-10-05                1.0  50.000000        NaN  50.0  50.0  50.0
        2024-11-01                3.0  43.333333   5.773503  40.0  40.0  40.0
        2024-11-04                1.0  40.000000        NaN  40.0  40.0  40.0
        2024-11-05                1.0  50.000000        NaN  50.0  50.0  50.0
Bob     2024-10-02                3.0  36.666667   5.773503  30.0  35.0  40.0
        2024-10-04                1.0  50.000000        NaN  50.0  50.0  50.0
        2024-11-01                1.0  40.000000        NaN  40.0  40.0  40.0
        2024-11-03                2.0  50.000000   0.000000  50.0  50.0  50.0
Charlie 2024-11-05                1.0  40.000000        NaN  40.0  40.0  40.0
Diana   2024-10-02                1.0  50.000000        NaN  50.0  50.0  50.0
        2024-10-04                1.0  40.000000        NaN  40.0  40.0  40.0
        2024-10-05                2.0  40.000000  14.142136  30.0  35.0  40.0
        2024-11-02                2.0  40.000000  14.142136  30.0  35.0  40.0
        2024-11-04                1.0  40.000000        NaN  40.0  40.0  40.0
Eve     2024-10-02                1.0  50.000000        NaN  50.0  50.0  50.0
        2024-10-03                1.0  30.000000        NaN  30.0  30.0  30.0
        2024-11-01                1.0  30.000000        NaN  30.0  30.0  30.0
        2024-11-04                2.0  50.000000   0.000000  50.0  50.0  50.0


                     75%   max
Name    Date
Alice   2024-10-01  47.5  50.0
        2024-10-02  40.0  40.0
        2024-10-04  40.0  40.0
        2024-10-05  50.0  50.0
        2024-11-01  45.0  50.0
        2024-11-04  40.0  40.0
        2024-11-05  50.0  50.0
Bob     2024-10-02  40.0  40.0
        2024-10-04  50.0  50.0
        2024-11-01  40.0  40.0
        2024-11-03  50.0  50.0
Charlie 2024-11-05  40.0  40.0
Diana   2024-10-02  50.0  50.0
        2024-10-04  40.0  40.0
        2024-10-05  45.0  50.0
        2024-11-02  45.0  50.0
        2024-11-04  40.0  40.0
Eve     2024-10-02  50.0  50.0
        2024-10-03  30.0  30.0
        2024-11-01  30.0  30.0
        2024-11-04  50.0  50.0